.individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 300px !important;
  margin-bottom: 20px;
}
.pdiv {
  display: flex;
  flex-direction: column;
  max-width: 300px !important;
}
.projectsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.linksection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ap {
  transition: transform 0.3s ease-in-out;
  font-size: 1.12rem;
}

.ap:hover {
  transform: scale(1.1);
}
